.section-welcome-user {
	position: relative;
	color: #fff;
	text-align: center;
	h1,
	span,
	.reset-link {
		z-index: 3;
	}
}

.copyright {
	position: relative;
	color: #fff;
}

@media (max-width: 768px) {
	.shadow-background {
		background-image: url('../picture/todo-lists-mobile.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}
}
