@import './reset.scss';
$colors-h: #fff;
$colors-input-text: #c0b7b1;
$btn-radius: 15px;
$button-color: green;

.shadow-background {
	position: relative;
	background-image: url('../picture/todo-lists-desktop.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100vw;
	height: 100vh;
}

.opacity-background {
	position: absolute;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.8);
}


.flex-center {
	display: flex;
	justify-content: center;
}

.h1-color {
	color: $colors-h;
	text-align: center;
	font-weight: bold;
}

.input-text {
	border-radius: $btn-radius;
	padding: 10px;
	border: 1px solid #000;
}

.reset-link {
	text-decoration: none;
	color: $colors-h;
	background-color: $button-color;
	border-radius: $btn-radius;
	padding: 10px 20px;
	margin: 10px;
	text-transform: uppercase;
	z-index: 1;
}

.reset-link:hover {
	color: $colors-h;
	background-color: #383d3b;
}

.sing-in-desktop {
	position: absolute;
	right: 0;
	top: 0;
	padding: 25px;
	text-decoration: none;
	color: #fff;
	z-index: 3;
}

.sing-in-desktop:hover {
	color: green;
}
